::-webkit-scrollbar { 
    display: none; 
}

@font-face {
    font-family: "druk";
    src: url(fonts/druk.otf);
}

a {
	color:black;
}

a:hover {
	color:blue;
}

html, body {
width: 100%;
margin: 0px; 
padding: 0px;
background-color:white;
}

#title {
	width:100%;
	text-align:center;
	top:0px;
	padding:0px;
	display: inline-block;
	padding-bottom:10px;
}

#title p {
	font-family: 'druk';
	font-size: 3.27vw;	
	display: inline-block;
	line-height: 0px;
	margin-top:30px;
	margin-bottom:0px;

}

#left {
	height:100vh;
	float:left;
	border-right: 1px solid black;
	box-sizing:border-box;
}

iframe {
	width:15%;
	height:120vh;
	float:left;
	overflow-y: auto;
}

.intro_text {
	font-family: arial;
	font-size: 12px;
	padding-left:10px;
	padding-right:10px;
}

.intro_text img {
	width:100%;
}

#projects {
	height:100vh;
	width:70%;
	height:100vh;
	float:left;
	text-align:center;
}

#projects iframe {
	width:97%;
	display: block;
    margin: 0 auto;
    float:none;
}

.image_width img {
	width:97%;
	margin-bottom:5px;
}

.image_height img {
	width:48.24%;
	margin-bottom:5px;
}

.image_small img {
	width:20%;
}

#right {
	width:15%;
	height:120vh;
	float:right;
	border-left: 1px solid black;
	box-sizing:border-box;
}

.right_text {
	font-family: arial;
	font-size: 12px;
	padding-left:10px;
	padding-right:10px;
}

#cursor {
  position: absolute;
  width:10px;
  height:10px;
  border-radius: 50%;
  background-color: transparent;
}

#spraycanbutton {
	position:fixed;
	right:0px;
	bottom:0px;
}
